.header__subtitle {
  width: 550px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #fff;
  z-index: 2;
}