.header__subtitle {
  width: 550px;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  margin: 0;
  z-index: 2;
}