.photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  };
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}