.swiper__arrow-prev {
  width: 35px;
  height: 35px;
  background-image: url('../../../images/arrow-white-left.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 45%;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 16px;
  cursor: pointer;
  transition: .2s linear;
  z-index: 5;
}

.swiper__arrow-prev:hover {
  transform: translateY(-50%) scale(1.2);
}