.header__title {
  font-family: Roboto, serif, Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 42px;
  margin-bottom: 42px;
  z-index: 2;
}