.header__title {
  font-family: Gilroy, serif, Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
}