.title_size_l {
  font-weight: 700;
  font-size: 68px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #f1f1f1;
  position: relative;
  margin-top: 42px;
  margin-bottom: 64px;
  z-index: 2;
}

.title_size_l:after {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 2px solid #fff;
  width: 200px;
  z-index: 2;
}

@media (max-width: 635px) {
  .title_size_l {
    font-size: 56px;
  }
  /*.title_size_l:after {*/
  /*  top: 148px;*/
  /*}*/
}