.swiper__container {
  width: 100%;
  position: relative;
  text-align: left;
  overflow: hidden;
  margin-top: 64px;
}

.swiper__container::before {
  content: '';
  width: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgba(42, 44, 47, 0) 0%, rgba(42, 44, 47, 1) 100%);
  z-index: 2;
}

.swiper__container::after {
  content: '';
  width: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgba(42, 44, 47, 0) 0%, rgba(42, 44, 47, 1) 100%);
  z-index: 2;
}

@media (max-width: 640px) {
  .swiper__container::before {
    content: none;
  }
  .swiper__container::after {
    content: none;
  }
}