.swiper__pagination-item {
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
  cursor: pointer;
  transition: .2s linear;
}

.swiper__pagination-item:hover {
  transform: scale(1.5);
}